
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blog Portal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/home.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Blog Portal</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="post"><a href="/compose">POST</a></li>
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT </a></li>
          <li id="contact"><a href="/contact">CONTACT</a></li>
          <li id="register"><a href="/logout">Logout</a></li>
          
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
    <h1><%=user.name%>'s Personal Blog </h1>
  <%  posts.forEach(function(post){ %>
    <div class="col-md-10 blogShort">
      <h3><%=post.title%></h3>
          <article><p>
            <%=post.content.substring(0, 100) + " ..."%>
          </p></article>
          <a class="btn btn-blog pull-right marginBottom10" href="/posts/<%=post._id%>">Read More</a>
       </div>
    <% }) %>


<%- include("partials/footer"); -%>
